body
	{width:755px;
	height:566px;}
.TB
	{mso-special-format:nobullet•;}
.T
	{text-align:center;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:black;
	mso-color-index:1;
	font-size:240%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.BB
	{mso-special-format:bulletv;
	font-family:Wingdings;}
.B
	{text-align:left;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:black;
	mso-color-index:1;
	font-size:120%;
	mso-line-spacing:"150 20 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:-172;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B1B
	{mso-special-format:bullet•;
	font-family:Arial;}
.B1
	{text-align:left;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:black;
	mso-color-index:1;
	font-size:106%;
	mso-text-indent-alt:324;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B2B
	{mso-special-format:bullet•;
	font-family:Arial;}
.B2
	{text-align:left;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:black;
	mso-color-index:1;
	font-size:93%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B3B
	{mso-special-format:bullet•;
	font-family:Arial;}
.B3
	{text-align:left;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:black;
	mso-color-index:1;
	font-size:93%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.B4B
	{mso-special-format:bullet•;
	font-family:Arial;}
.B4
	{text-align:left;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:black;
	mso-color-index:1;
	font-size:93%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N1
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N2
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N3
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.N4
	{font-family:Calibri;
	mso-ascii-font-family:Calibri;
	mso-hansi-font-family:Calibri;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.OB
	{mso-special-format:nobullet•;}
.O
	{text-align:left;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:black;
	mso-color-index:1;
	font-size:120%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O1
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O2
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O3
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.O4
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CBB
	{mso-special-format:nobulletv;
	font-family:Wingdings;}
.CB
	{text-align:center;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:white;
	mso-color-index:1;
	font-size:120%;
	mso-line-spacing:"150 20 0";
	mso-margin-left-alt:-172;
	mso-text-indent-alt:-172;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB1B
	{mso-special-format:nobullet•;
	font-family:Arial;}
.CB1
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:106%;
	mso-margin-left-alt:324;
	mso-text-indent-alt:324;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB2B
	{mso-special-format:nobullet•;
	font-family:Arial;}
.CB2
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:93%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB3B
	{mso-special-format:nobullet•;
	font-family:Arial;}
.CB3
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:93%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CB4B
	{mso-special-format:nobullet•;
	font-family:Arial;}
.CB4
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:93%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.CTB
	{mso-special-format:nobullet•;}
.CT
	{text-align:center;
	font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	color:white;
	mso-color-index:1;
	font-size:240%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HBB
	{mso-special-format:bulletv;
	font-family:Wingdings;}
.HB
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:106%;
	mso-line-spacing:"150 20 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:-172;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB1B
	{mso-special-format:bullet•;
	font-family:Arial;}
.HB1
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:93%;
	mso-text-indent-alt:324;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB2B
	{mso-special-format:bullet•;
	font-family:Arial;}
.HB2
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB3B
	{mso-special-format:bullet•;
	font-family:Arial;}
.HB3
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.HB4B
	{mso-special-format:bullet•;
	font-family:Arial;}
.HB4
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:80%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QBB
	{mso-special-format:bulletv;
	font-family:Wingdings;}
.QB
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:93%;
	mso-line-spacing:"150 20 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:-172;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB1B
	{mso-special-format:bullet•;
	font-family:Arial;}
.QB1
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:80%;
	mso-text-indent-alt:324;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB2B
	{mso-special-format:bullet•;
	font-family:Arial;}
.QB2
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:66%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB3B
	{mso-special-format:bullet•;
	font-family:Arial;}
.QB3
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:66%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.QB4B
	{mso-special-format:bullet•;
	font-family:Arial;}
.QB4
	{font-family:Garamond;
	mso-ascii-font-family:Garamond;
	mso-hansi-font-family:Garamond;
	font-size:66%;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;}
.defaultB
	{mso-special-format:nobullet•;}
.default
	{text-align:left;
	font-family:Arial;
	mso-ascii-font-family:Garamond;
	mso-bidi-font-family:Arial;
	mso-hansi-font-family:Garamond;
	font-weight:normal;
	font-style:normal;
	text-decoration:none;
	text-shadow:none;
	text-effect:none;
	mso-fareast-hint:no;
	layout-flow:horizontal;
	color:black;
	mso-color-index:1;
	font-size:120%;
	mso-text-raise:0%;
	mso-line-spacing:"100 0 0";
	mso-margin-left-alt:0;
	mso-text-indent-alt:0;
	mso-char-wrap:1;
	mso-kinsoku-overflow:1;
	direction:ltr;
	mso-word-wrap:1;
	mso-vertical-align-special:baseline;
	mso-ansi-language:EN-US;}
a:link
	{color:#B6A272 !important;}
a:active
	{color:#A09781 !important;}
a:visited
	{color:#8A784F !important;}
