ErrorDocument 404 404.html
ErrorDocument 403 403.html
ErrorDocument 500 "Internal Server Error, Contact webmaster for details"


RewriteEngine On 
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://galang23.github.io/$1 [R,L]404.html
DirectoryIndex index.html