		<!DOCTYPE HTML>
<!-- Website template by freewebsitetemplates.com -->
<html>
<head>
	<meta charset="UTF-8"/>
	<title>Halaman Awal | Galang23</title>
	<link rel="stylesheet" href="css/style.css" type="text/css" />
	<link href="/Gambar/favicon.ico" rel="icon"/> 
	<meta name="description" content="Website Galang23 yang dibuat untuk tugas sekolah." /> <!-- Untuk Google -->
</head>
<body>
<div id="header">
		<div>
			<div class="logo">
			
				<a href="/">Galang23</a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="/">Beranda</a>
				</li>
				<li>
					<a href="/features/index.html">Fitur</a>
				</li>
				<li>
					<a href="/news/index.html">Berita</a>
				</li>
				<li>
					<a href="/about/index.html">Tentang</a>
				</li>
			</ul>
		</div>
	</div>
<div id="header">
		<div>
			<div class="logo">
			
				<a href="/">Galang23</a>
			</div>
			<ul id="navigation">
				<li class="active">
					<a href="/">Beranda</a>
				</li>
				<li>
					<a href="/features/index.html">Fitur</a>
				</li>
				<li>
					<a href="/news/index.html">Berita</a>
				</li>
				<li>
					<a href="/about/index.html">Tentang</a>
				</li>
			</ul>
		</div>
	</div>